<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
<main id="contenedor-productos">
<table style="border:1px solid black">
    <tr style="border:1px solid black">
        <td  style="width: 300px;">Nombre</td>
        <td  style="width: 300px;">Cantidad</td>
        <td  style="width: 200px;">Precio Unitario</td>
        <td  style="width: 200px;">Precio Total</td>
    </tr>
    
    <% productosAgregados.forEach(producto => { %>
    <tr style="border:1px solid black">
        <td style="width: 300px;"><%= producto.Producto.nombre %></td>
        <td style="width: 300px;"><%= producto.cantidad %></td>
        <td style="width: 200px;"> $<%= producto.Producto.precio %></td>
        <td style="width: 200px;"> $<%= producto.Producto.precio * producto.cantidad%></td>
        <td> 
        <form
        action="<%= producto.productos_id %>?_method=delete"
        method="POST"
        style="display: inline-flex"
        >
        <button
         type="submit"
        >
            ELIMINAR
        </button>
        </form> 
       </td>
    </tr>   
    <% }) %>
</table>

<% let total = productosAgregados.reduce((suma, producto) => suma + (producto.Producto.precio * producto.cantidad), 0) %>
<p>Total de su compra: $<%= total.toFixed(2) %></p>

     
        

</main>


  
   

<%- include ('../partials/footer') %>
</body>

</html>

