
                   
         <%- include('../partials/head') %>
 <title>Detalle de producto</title>
    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
        <!-- /Header -->

        <h3> DETALLE DEL PRODUCTO :

        </h3>
      
           <p>ESTAS EDITANDO : <%= product.name %></p>
     
 

                           <div class="detalle-producto-body">
    

    <main class="detalle-main-producto">
            <div class="productos-unisex">
                   <div class="container-img">
                  <img src="/images/<%= product.image %>" alt="">

                   </div>

                   <div class="container-info-producto">
                 <div class="container-price">
                       <span> $ <%= product.price %></span>
                      <i class="fa-solid fa-gift"></i>
                  
                 </div>

                <div class="container-detail-product">

                    <div class="form-group">
                       
                        <label for="colour"> NOMBRE:</label>

                                  <%= product.name %>
                    </div>

                    <div class="form-group">
                       
                        <label for="medida" class="medida"> SIZE: </label>

                        
                                   <%= product.size %>

                    </div>
                     <div class="form-group">
                       
                        <label for="medida" class="medida"> COLOR: </label>

                        
                                   <%= product.colores %>

                    </div>

                 <div class="form-group">
                       
                        <label for="medida" class="medida"> CATEGORIA: </label>

                        
                                   <%= product.category %>

                    </div>
                    

                </div>  
                     <div class="container-add-card">
                        <div class="container-quantity">
                         
                        </div>

                       
                         

                     </div>
                  

                         <div class="container-description">
                        
                            <div class="title-description">
                                <h4> Descripcion </h4>
                                <i class="fa-sharp fa-solid fa-chevron-down"></i>
                            </div>

                                <div class="text-description">

                                    <p><%= product.description %>
                                   </p>



                                </div>

                         </div>
                  
                  


                          <a
                                href="/products/<%= product.id %>/edit"
                                class="btn-detail-edit"
                                >EDITAR PRODUCTO</a
                            >
                            <form
                                action="/products/<%= product.id %>?_method=delete"
                                method="POST"
                                style="display: inline-flex"
                            >
                                <button
                                    type="submit"
                                    class="btn-detail"
                                >
                                    ELIMINAR
                                </button>
                                </form>
                              
          

        <!-- footer -->
        <%- include('../partials/footer') %>
        <!-- /footer -->
    </body>
</html>  
        
